#aboutMe {
    width: 100%;

    min-height: 100vh;

    margin: 0;
    background-color: var(--grey);

    position: relative;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}

#aboutMe img {
    margin-top: 50px;
}

#aboutMeText {
    margin: 5% 20%;
    width: auto;

    background-color: var(--yellow);
    padding: 0em 2em;
    border-radius: var(--border-radius-big);


    color: var(--grey);


    text-align: justify;
    font-size: 1em;

    z-index: 10;
}

@media screen and (orientation:portrait) {
    #aboutMeText {
        margin: 5% 5%;
    }

    #aboutMe img {
        display: none;
    }
}

#gameOfLife {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aboutMe canvas {
    width: 100%;
    height: 100%;
}