#aboutMe {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    background-color: var(--grey);

    position: relative;
    text-align: center;
    color: white;

    overflow-x: hidden;
    overflow-y: scroll;
}

#aboutMe img {
    margin-top: 50px;
}

#aboutMeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--white);
    padding: 3em 2em 0em 2em;
    border-radius: 10px;

    color: var(--grey);


    text-align: justify;
    font-size: 1em;
}

@media screen and (orientation:portrait) {
    #aboutMeText {
        width: 80vw;
    }

    #aboutMe img {
        display: none;
    }
}

#aboutMe canvas {
    width: 100%;
    height: 100%;
}