#aboutMe {


    min-height: 100vh;

    margin: 0;
    background-color: var(--grey);

    position: relative;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;


}

#aboutMe img {
    margin-top: 50px;
}


#aboutMeText {

    width: 50%;

    background-color: var(--yellow);
    padding: 1em 5em 1em 5em;
    border-radius: var(--border-radius-big);

    color: var(--grey);


    text-align: justify;
    font-size: 0.8em;

    z-index: 3;
}

@media screen and (orientation:portrait) {
    #aboutMeText {
        width: 90%;
        padding: 0em 2em;
    }
}



#aboutMeText ul {
    width: 60%;
}

@media screen and (orientation:portrait) {
    #aboutMeText {
        margin: 5% 5%;
    }

    #aboutMe img {
        display: none;
    }

    #aboutMeText ul {
        width: 80%;
    }
}

#gameOfLife {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--white);
}

#aboutMe canvas {
    width: 100%;
    height: 100%;
}

#aboutMe li {
    margin-bottom: 0.7em;
}

#aboutMe br {
    margin-bottom: 0.7em;
}

#aboutMe h1 {
    margin-bottom: 0.7em;
}