#footer {
    background-color: var(--blue);
    color: var(--grey);
    padding: 30px 0 100px 0;
    margin: 0;
    text-align: left;
    width: auto;

    position: relative;
}

#footerEmail {
    background-color: var(--green);
    margin-bottom: 30px;
    transition-duration: 100ms;
}

#footerEmail:hover {
    background-color: var(--red);
    color: var(--green);
    scale: 1.1;
}


#footerLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    gap: 20px;
}

@media screen and (orientation:portrait) {
    #footerLinks {
        justify-content: center;
    }

    #bussinessInfo {
        text-align: center;
    }
}

#footerLinks a {
    text-decoration: none;
    margin: 0 0 30px 0;

    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);

    transition-duration: 100ms;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
}




#footerItch {
    background-color: var(--red);
}

#footerGit {
    background-color: var(--orange);
}

#footerLinkdn {
    background-color: var(--blue);
}

#footerLinks img {

    position: absolute;
    width: 50%;
    height: 50%;


}

#bussinessCard {

    background-color: var(--green);
    width: min(800px, 80vw);
    aspect-ratio: 1.414;

    margin: 0 auto;

    position: relative;
    left: 0;
    transform: translateX(50%, 0);

}

#cardHeader {
    background-color: var(--orange);
    transform: translateX(-10px);
}

#cardContent {
    padding: 0 5%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#bussinessCardPicture {
    flex: 0.35;
    align-self: center;
}

#bussinessInfo {

    flex: 0.65;
    display: flex;
    flex-direction: column;
    gap: 30px;
}