#projects {
    background-color: var(--orange);
}

#gameList {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 10% 0;
}

.game {
    width: 325px;
    height: auto;



    background-color: var(--yellow);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: var(--border-radius-big);

    position: relative;

    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);
}

.game:hover {
    scale: 1.03;
    transition-duration: 100ms;
}

.game img {
    width: 100%;
    height: 230px;
    object-fit: cover;

    border-bottom-style: solid;
    border-color: var(--grey);
    border-width: var(--border-width);
}

.gameDescription {
    padding: 0 18px;
    margin-bottom: 4em;
    text-align: center;
}

.game h3 {
    text-align: center;
}



.game a {
    color: var(--grey);
}

.game ul {
    margin-bottom: 0;
}


.learnMoreButton {
    font-family: var(--main-font);
    font-size: 1.1em;
    font-weight: 600;

    padding: 0.2em 1em;
    margin: 1em 0;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);


    color: var(--grey);

    background-color: #00000000;
    border: none;

    border-radius: var(--border-radius);

    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);

    background-color: var(--orange);
}

.learnMoreButton:hover {
    background-color: var(--red);
    color: var(--yellow);
}

.projectTags {
    width: auto;
    height: auto;
    display: flex;

    flex-direction: row-reverse;
    padding: 5%;
    flex-wrap: wrap;
    gap: 3px;


}

.projectTags p {
    font-size: 0.9em;
    text-align: center;

    background-color: var(--green);
    border-radius: var(--border-radius);
    padding: 0.2em 0.5em;
    display: flex;

    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);
}