#projects {
    background-color: var(--orange);
}

#gameListContainer {
    background-color: var(--red);
    border-radius: var(--border-radius-big);
    border-width: 3px;
    border-color: var(--grey);
    border-style: solid;
    padding-bottom: 1em;
    margin: 0 0 5% 0;

}

#gameList {
    display: flex;
    gap: 20px;
    justify-content: left;

    padding: 2em 2em;
    overflow-x: overlay;

    scrollbar-color: green;


    scroll-behavior: smooth;

    /* Adjust as needed */

}


.game {
    width: 325px;
    height: auto;

    background-color: var(--yellow);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: var(--border-radius-big);

    position: relative;
    z-index: 2;

    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);
    box-shadow: 0 var(--shadowHeight) 0 currentColor;

    transition-duration: 100ms;
}

.game:hover {
    transition-duration: 50ms;

    box-shadow: 0 0 0 var(--grey);

    transform: translateY(var(--shadowHeight));
}

.game img {
    width: 100%;
    height: 230px;
    object-fit: cover;

    border-bottom-style: solid;
    border-color: var(--grey);
    border-width: var(--border-width);
}

.gameDescription {
    padding: 0 18px;
    margin-bottom: 0em;
    text-align: center;
}

.game h3 {
    text-align: center;
}



.game a {
    color: var(--grey);
}

.game ul {
    margin-bottom: 0;
}


.learnMoreButton {

    padding: 0.2em 1em;
    margin: 1em 0;

    position: relative;
    background-color: var(--orange);
}


.projectTags {
    width: auto;
    height: auto;
    display: flex;

    flex-direction: row-reverse;
    padding: 5%;
    flex-wrap: wrap;
    gap: 3px;


}

.projectTags p {
    font-size: 0.9em;
    text-align: center;

    background-color: var(--green);
    border-radius: var(--border-radius);
    padding: 0.2em 0.5em;
    display: flex;

    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);
}