#intro {
    text-align: left;
    min-height: 100%;
}

#introText {
    padding: 30% 0 0 0;
    font-size: auto;

    opacity: 0;
    animation-fill-mode: forwards;
}

#introText h1 {}

#downloadButton {
    margin-top: 1em;
}

#introLinks {
    position: absolute;
    top: 0;
    right: 15%;
    z-index: 100;

    display: flex;
    align-items: right;
    text-align: right;
    gap: 2%;
    flex-direction: row-reverse;
    padding: 1em 0;


    opacity: 0;
    animation-fill-mode: forwards;
}

#pixelArtPortrait {
    opacity: 0;
    animation-fill-mode: forwards;
}

#introLinks a {
    text-decoration: none;
    margin: 0;
    font-size: 1.1em;
    padding: 0.2em 0.5em;

    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);

    color: var(--grey);
    background-color: var(--yellow);
}

#introLinks a:hover {
    color: var(--yellow);
    background-color: var(--red);
}

@media screen and (orientation:portrait) {
    #intro img {
        display: none;
    }

    #introLinks {
        right: 5%;
    }
}