#intro {
    text-align: left;
    background-color: var(--green);
    height: 100vh;
}

#introText {
    width: 100%;
    height: auto;
    z-index: 1;
    padding: 20% 0 0 0;
}

#introText h1 {
    padding-bottom: 2em;
}



#introLinks {
    display: flex;
    align-items: right;
    text-align: right;
    gap: 2%;
    flex-direction: row-reverse;
    padding: 1em 0;
}

#introLinks a {
    text-decoration: none;
    margin: 0;
    font-size: 1.1em;
}