@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


:root {
    --white: #fcf09c;
    --green: #C3D394;
    --orange: #ffbb2a;
    --red: #F45B69;
    --blue: #7D70BA;
    --grey: #353238;
}


body {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: -.003em;
    font-size: 2.5vh;

    color: var(--grey);
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0;
}

b {
    font-weight: bold;
}

a {
    color: var(--blue);
    text-decoration: none;
    font-size: 1em;
    margin: 0% 0% 0% 0%;
}

a:hover {
    text-decoration: solid;
    color: var(--red);
}

::selection {

    background: var(--orange);
}

@media screen and (orientation:portrait) {
    .page {
        width: auto;
        padding: 0 5%;
    }
}

@media screen and (orientation:landscape) {
    .page {
        width: auto;
        padding: 0 20%;
    }
}



/*@media (prefers-color-scheme: dark) {

    // Dark theme styles go here
    body {

        color: rgb(255, 255, 255);
        background-color: rgb(32, 32, 32);
    }

    a:link,
    a:visited {
        color: rgb(147, 110, 196);
    }

    a:link:active,
    a:visited:active {
        color: rgb(207, 185, 236);
    }
}*/