@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


:root {
    --white: #ffffff;
    --yellow: #fcf09c;
    --green: #C3D394;
    --orange: #ffbb2a;
    --red: #F45B69;
    --blue: #7D70BA;
    --grey: #353238;
    --border-width: 3px;
    --border-radius: 7px;
    --border-radius-big: 15px;
    --main-font: 'Quicksand';
    --alternative-font: 'Nunito';
}



body {
    font-family: var(--alternative-font);
    font-size: 20px;

    color: var(--grey);
    background-color: var(--green);
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 2em;
    font-weight: 900;
    font-family: var(--main-font);
}

h3 {

    font-size: 1.2em;
    font-weight: 900;
    font-family: var(--main-font);
}

p {
    margin: 0;
    font-weight: 500;


    z-index: -2;
}

b {
    font-weight: bold;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: solid;
    color: var(--red);
}

br {
    display: block;
    content: "";
    margin-bottom: 1.5em;
}

.sectionHeader {

    width: 60%;
    padding: 0.2em;
    margin: 1.4em 0 0.4em 0;
    background-color: var(--yellow);

    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);

}

button {

    border-radius: var(--border-radius);
    border-width: var(--border-width);

    font-family: var(--main-font);
    font-weight: 900;
    font-size: 1em;
    color: var(--grey);

    background-color: var(--yellow);

    padding: 10px;

    transition-duration: 100ms;

    cursor: pointer;
}

button:hover {

    background-color: var(--red);
    color: var(--yellow);

    transition-duration: 100ms;
}

.outline {
    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
}

::selection {
    background: var(--orange);
}


.page {
    border-color: var(--grey);
    border-style: solid;
    border-width: 0px;

    border-top-width: var(--border-width);

}

@media screen and (orientation:portrait) {
    .page {
        width: auto;
        padding: 1px 5%;
    }
}

@media screen and (orientation:landscape) {
    .page {
        width: auto;
        padding: 1px 20%;
        scroll-snap-type: y mandatory;
    }
}




/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 0px;

    border-color: var(--grey);
    border-style: solid;
    border-width: var(--border-width);
}